# Filter Data

In [16]:
# Dependencies
import pandas as pd
from os import listdir
from os.path import isfile, join

In [24]:
data_files = [f for f in listdir("../data") if isfile(join("../data", f))]

In [49]:
crude_file = "crudePrice.csv"
data_files.remove(crude_file)

ValueError: list.remove(x): x not in list

In [69]:
crude_df = pd.read_csv("../data/" + crude_file)

In [51]:
adf = data_files[0].split(".")[0]
dict_df = {}

In [52]:
def company_csv(csv_file):
    base_path = "../data/"
    ticker = csv_file.split(".")[0]
    dict_df[ticker] = pd.read_csv(base_path + csv_file)
    print(base_path + csv_file)
    return dict_df

In [53]:
for csv in data_files:
    company_csv(csv)

../data/APA.csv
../data/APC.csv
../data/AR.csv
../data/CDEV.csv
../data/CEO.csv
../data/CHK.csv
../data/CLR.csv
../data/CNQ.csv
../data/COG.csv
../data/COP.csv
../data/CPE.csv
../data/CXO.csv
../data/DVN.csv
../data/ECA.csv
../data/EGN.csv
../data/EOG.csv
../data/EQT.csv
../data/FANG.csv
../data/GPOR.csv
../data/HES.csv
../data/JAG.csv
../data/LPI.csv
../data/MDU.csv
../data/MRO.csv
../data/MTDR.csv
../data/MUR.csv
../data/NBL.csv
../data/NFX.csv
../data/OAS.csv
../data/OXY.csv
../data/PDCE.csv
../data/PE.csv
../data/PXD.csv
../data/RICE.csv
../data/RRC.csv
../data/RSPP.csv
../data/SM.csv
../data/SWN.csv
../data/WLL.csv
../data/WPX.csv
../data/XEC.csv
../data/XOG.csv

In [66]:
company_list = list(dict_df.keys())

In [65]:
abb[0]

'APA'

In [13]:
a = pd.read_csv("../data/AR.csv").drop(columns= ["Unnamed: 0"])

In [14]:
a.head()

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2019-05-07,7.48,8.09,7.45,8.00,8.00,14042335,0.0,1.0
1,2019-05-06,7.08,7.60,7.04,7.54,7.54,8834168,0.0,1.0
2,2019-05-03,7.27,7.39,7.14,7.17,7.17,9728046,0.0,1.0
3,2019-05-02,7.30,7.34,6.75,7.22,7.22,12474025,0.0,1.0
4,2019-05-01,7.28,7.33,7.07,7.13,7.13,6334940,0.0,1.0

In [15]:
a.tail()

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
1397,2013-10-16,57.40,57.80,55.98,57.56,57.56,2233300,0.0,1.0
1398,2013-10-15,56.38,57.67,55.87,57.06,57.06,1566100,0.0,1.0
1399,2013-10-14,53.18,56.50,53.00,55.64,55.64,1018700,0.0,1.0
1400,2013-10-11,52.26,55.44,51.85,53.30,53.30,3245300,0.0,1.0
1401,2013-10-10,54.15,55.02,51.56,52.01,52.01,29240900,0.0,1.0