# Filter Data

In [73]:
# Dependencies
import pandas as pd
from os import listdir
from os.path import isfile, join

In [74]:
data_files = [f for f in listdir("../data") if isfile(join("../data", f))]

In [75]:
crude_file = "crudePrice.csv"
data_files.remove(crude_file)

In [76]:
crude_df = pd.read_csv("../data/" + crude_file)
crude_df = crude_df.drop(columns= "Unnamed: 0").rename(columns={"Date": "date", "Value": "crude_price"})

In [77]:
adf = data_files[0].split(".")[0]
dict_df = {}

In [78]:
def company_csv(csv_file):
    base_path = "../data/"
    ticker = csv_file.split(".")[0]
    dict_df[ticker] = pd.read_csv(base_path + csv_file)
    dict_df[ticker] = dict_df[ticker].drop(columns= "Unnamed: 0")
    dict_df[ticker] = pd.merge(dict_df[ticker], crude_df, on='date')
    dict_df[ticker].insert(0 , "company", ticker)
    dict_df[ticker].to_csv(base_path + csv_file)
    #print(base_path + csv_file)
    return dict_df

In [79]:
for csv in data_files:
    company_csv(csv)

In [80]:
company_list = list(dict_df.keys())

In [72]:
dict_df["AR"].tail()

,company,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,crude_price
1388,AR,2013-10-16,57.40,57.80,55.98,57.56,57.56,2233300,0.0,1.0,102.34
1389,AR,2013-10-15,56.38,57.67,55.87,57.06,57.06,1566100,0.0,1.0,101.15
1390,AR,2013-10-14,53.18,56.50,53.00,55.64,55.64,1018700,0.0,1.0,102.46
1391,AR,2013-10-11,52.26,55.44,51.85,53.30,53.30,3245300,0.0,1.0,102.17
1392,AR,2013-10-10,54.15,55.02,51.56,52.01,52.01,29240900,0.0,1.0,103.08

In [41]:
for j in company_list:
    print(j)
    print("_____________________________________________________________________")
    print(dict_df[j].tail())
    print("_____________________________________________________________________")
    print("")

APA
_____________________________________________________________________
            date   open   high    low  close  adjusted_close   volume  \
5340  1998-01-08  32.00  32.25  31.75  32.00         10.9726   838800
5341  1998-01-07  32.88  33.25  31.88  32.19         11.0378   857200
5342  1998-01-06  32.63  33.00  32.25  32.50         11.1441  1498900
5343  1998-01-05  34.56  34.56  33.06  33.13         11.3601   837600
5344  1998-01-02  35.19  35.19  34.06  34.06         11.6790   310400

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

APC
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5340  1998-01-08  56.63  56.75  55.44  55.44         11.7650  182100
5341  1998-01-07  55.88  56.94  55.75  56.56         12.0027  645500
5342  1998-01-06  58.06  58.06  54.00  55.25         11.7247  881000
5343  1998-01-05  59.56  59.56  58.00  58.06         12.3210  449100
5344  1998-01-02  60.50  60.56  59.38  59.56         12.6393  185000

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

AR
_____________________________________________________________________
            date   open   high    low  close  adjusted_close    volume  \
1388  2013-10-16  57.40  57.80  55.98  57.56           57.56   2233300
1389  2013-10-15  56.38  57.67  55.87  57.06           57.06   1566100
1390  2013-10-14  53.18  56.50  53.00  55.64           55.64   1018700
1391  2013-10-11  52.26  55.44  51.85  53.30           53.30   3245300
1392  2013-10-10  54.15  55.02  51.56  52.01           52.01  29240900

      dividend_amount  split_coefficient  crude_price
1388              0.0                1.0       102.34
1389              0.0                1.0       101.15
1390              0.0                1.0       102.46
1391              0.0                1.0       102.17
1392              0.0                1.0       103.08
_____________________________________________________________________

CDEV
_____________________________________________________________________
           date  open  high   low  close  adjusted_close  volume  \
756  2016-04-21  10.0  10.0  10.0   10.0            10.0       0
757  2016-04-20  10.0  10.0  10.0   10.0            10.0       0
758  2016-04-19  10.0  10.0  10.0   10.0            10.0       0
759  2016-04-18  10.0  10.0  10.0   10.0            10.0       0
760  2016-04-15  10.0  10.0  10.0   10.0            10.0     416

     dividend_amount  split_coefficient  crude_price
756              0.0                1.0        43.18
757              0.0                1.0        42.72
758              0.0                1.0        40.88
759              0.0                1.0        39.74
760              0.0                1.0        40.40
_____________________________________________________________________

CEO
_____________________________________________________________________
            date   open   high    low  close  adjusted_close    volume  \
4550  2001-03-05  16.45  16.85  16.41  16.85          9.1509    412800
4551  2001-03-02  16.30  16.55  16.22  16.50          8.9609    661100
4552  2001-03-01  16.45  16.58  16.05  16.25          8.8251   1128100
4553  2001-02-28  17.30  17.30  16.80  17.05          9.2595   3052800
4554  2001-02-27  16.50  16.50  16.00  16.12          8.7545  10788700

      dividend_amount  split_coefficient  crude_price
4550              0.0                1.0        28.61
4551              0.0                1.0        27.89
4552              0.0                1.0        27.78
4553              0.0                1.0        27.35
4554              0.0                1.0        28.26
_____________________________________________________________________

CHK
_____________________________________________________________________
            date   open   high    low  close  adjusted_close   volume  \
5340  1998-01-08  6.125  6.250  5.750  6.000          4.5274  1517400
5341  1998-01-07  6.688  6.688  6.125  6.250          4.7160  1463000
5342  1998-01-06  7.125  7.188  6.438  6.688          5.0465  1382800
5343  1998-01-05  7.625  7.625  7.125  7.188          5.4238   430400
5344  1998-01-02  7.688  7.750  7.500  7.625          5.7535   327100

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

CLR
_____________________________________________________________________
            date   open   high    low  close  adjusted_close    volume  \
3002  2007-05-21  14.65  14.75  14.40  14.60           7.300    477400
3003  2007-05-18  14.50  14.77  14.35  14.65           7.325    963700
3004  2007-05-17  14.40  14.65  14.12  14.50           7.250    989900
3005  2007-05-16  14.05  14.44  14.05  14.35           7.175   2465200
3006  2007-05-15  14.50  14.70  14.00  14.10           7.050  12784600

      dividend_amount  split_coefficient  crude_price
3002              0.0                1.0        66.25
3003              0.0                1.0        64.93
3004              0.0                1.0        64.83
3005              0.0                1.0        62.57
3006              0.0                1.0        63.16
_____________________________________________________________________

CNQ
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
4695  2000-08-04  29.25  29.44  29.00  29.38          2.7021    7700
4696  2000-08-03  29.25  29.69  29.19  29.31          2.6957    9300
4697  2000-08-02  29.00  29.44  29.00  29.25          2.6902    5800
4698  2000-08-01  28.00  28.00  27.44  28.00          2.5752    7800
4699  2000-07-31  28.50  28.50  27.88  27.88          2.5642   13000

      dividend_amount  split_coefficient  crude_price
4695              0.0                1.0        29.94
4696              0.0                1.0        28.92
4697              0.0                1.0        28.27
4698              0.0                1.0        27.85
4699              0.0                1.0        27.50
_____________________________________________________________________

COG
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5340  1998-01-08  18.13  18.13  17.81  18.00          1.3493   35000
5341  1998-01-07  17.75  18.31  17.75  18.31          1.3726   78067
5342  1998-01-06  18.31  18.31  17.50  17.75          1.3306   83467
5343  1998-01-05  19.00  19.25  18.31  18.50          1.3868   83267
5344  1998-01-02  19.06  19.13  19.00  19.00          1.4243   41800

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

COP
_____________________________________________________________________
            date   open   high    low  close  adjusted_close   volume  \
5340  1998-01-08  45.00  45.13  44.13  44.56          8.8469  1493200
5341  1998-01-07  45.06  45.50  44.56  45.50          9.0336  2101200
5342  1998-01-06  46.25  46.25  44.88  45.19          8.9720  1215100
5343  1998-01-05  47.94  48.44  47.00  47.13          9.3572  1353600
5344  1998-01-02  48.50  48.69  47.50  48.00          9.5299   351650

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

CPE
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5340  1998-01-08  16.12  16.37  16.12  16.14           16.14    7900
5341  1998-01-07  16.00  16.31  16.00  16.06           16.06   33500
5342  1998-01-06  16.00  17.00  16.00  16.00           16.00    2700
5343  1998-01-05  17.00  17.00  16.03  16.12           16.12    2800
5344  1998-01-02  16.63  17.00  15.88  17.00           17.00    7400

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

CXO
_____________________________________________________________________
            date   open   high    low  close  adjusted_close   volume  \
2946  2007-08-09  12.45  13.10  12.27  12.94         12.9253   131900
2947  2007-08-08  12.65  13.00  12.52  12.88         12.8654   225500
2948  2007-08-07  12.64  12.90  12.37  12.60         12.5857   450100
2949  2007-08-06  13.00  13.23  12.07  12.70         12.6856   796500
2950  2007-08-03  11.61  13.39  11.60  12.90         12.8854  6608700

      dividend_amount  split_coefficient  crude_price
2946              0.0                1.0        71.62
2947              0.0                1.0        72.23
2948              0.0                1.0        72.25
2949              0.0                1.0        72.03
2950              0.0                1.0        75.41
_____________________________________________________________________

DVN
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5340  1998-01-08  35.13  35.13  34.00  34.00         14.1150  160600
5341  1998-01-07  38.13  38.19  35.31  35.38         14.6879   76300
5342  1998-01-06  36.75  37.94  36.25  37.94         15.7507  122600
5343  1998-01-05  38.00  38.06  36.88  36.94         15.3356   35300
5344  1998-01-02  38.50  38.50  38.25  38.38         15.9334   25800

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

ECA
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
4277  2002-04-12  29.58  29.58  28.31  28.78          5.6844  267200
4278  2002-04-11  30.10  30.13  29.79  29.88          5.9017  179500
4279  2002-04-10  29.55  30.00  29.55  29.90          5.9056  211300
4280  2002-04-09  30.10  30.10  29.33  29.63          5.8523  411200
4281  2002-04-08  31.00  31.00  29.98  29.99          5.9234  299700

      dividend_amount  split_coefficient  crude_price
4277              0.0                1.0        23.51
4278              0.0                1.0        24.93
4279              0.0                1.0        26.15
4280              0.0                1.0        25.45
4281              0.0                1.0        26.16
_____________________________________________________________________

EGN
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5241  1998-01-08  38.81  38.81  38.38  38.56          7.1593   10500
5242  1998-01-07  39.00  39.06  38.50  38.56          7.1593   13100
5243  1998-01-06  39.00  39.25  38.69  39.06          7.2521   25800
5244  1998-01-05  39.81  39.94  39.44  39.69          7.3691   10700
5245  1998-01-02  39.69  39.94  39.38  39.94          7.4155   65500

      dividend_amount  split_coefficient  crude_price
5241              0.0                1.0        17.01
5242              0.0                1.0        16.91
5243              0.0                1.0        16.64
5244              0.0                1.0        16.95
5245              0.0                1.0        17.41
_____________________________________________________________________

EOG
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5340  1998-01-08  19.75  20.13  19.63  20.00          4.4237  216000
5341  1998-01-07  19.63  20.13  19.63  19.81          4.3817  422900
5342  1998-01-06  19.50  20.00  19.25  19.63          4.3419  649200
5343  1998-01-05  20.63  20.69  19.94  20.00          4.4237  193900
5344  1998-01-02  21.06  21.25  20.63  20.63          4.5631  292200

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

EQT
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5340  1998-01-08  33.13  33.13  32.50  32.94          3.0769   24800
5341  1998-01-07  33.44  33.44  33.06  33.19          3.1003   23700
5342  1998-01-06  34.88  34.88  33.44  33.50          3.1292   56400
5343  1998-01-05  35.25  35.25  34.75  34.88          3.2581   43300
5344  1998-01-02  35.19  35.19  34.50  35.19          3.2871   89200

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

FANG
_____________________________________________________________________
            date   open     high     low  close  adjusted_close   volume  \
1636  2012-10-18  17.60  17.8700  17.520  17.70         17.6252   146100
1637  2012-10-17  17.70  18.0700  17.500  17.70         17.6252   121000
1638  2012-10-16  17.57  17.9500  17.250  17.79         17.7148   180300
1639  2012-10-15  17.55  17.8325  17.500  17.75         17.6750   633100
1640  2012-10-12  17.82  18.2800  17.495  17.50         17.4261  6467100

      dividend_amount  split_coefficient  crude_price
1636              0.0                1.0        92.00
1637              0.0                1.0        92.04
1638              0.0                1.0        92.07
1639              0.0                1.0        91.84
1640              0.0                1.0        91.83
_____________________________________________________________________

GPOR
_____________________________________________________________________
            date  open  high   low  close  adjusted_close  volume  \
5049  1999-03-09  2.03  2.03  2.03   2.03            2.03       0
5050  1999-03-08  2.03  2.03  2.03   2.03            2.03       0
5051  1999-03-05  2.03  2.03  2.03   2.03            2.03       0
5052  1999-03-04  2.03  2.03  2.03   2.03            2.03       0
5053  1999-03-03  2.03  2.03  2.03   2.03          101.50       0

      dividend_amount  split_coefficient  crude_price
5049              0.0               1.00        13.78
5050              0.0               1.00        13.63
5051              0.0               1.00        13.33
5052              0.0               0.02        13.32
5053              0.0               1.00        12.92
_____________________________________________________________________

HES
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5340  1998-01-08  52.56  52.56  51.63  51.94         13.2711  259200
5341  1998-01-07  51.63  53.50  51.56  52.69         13.4627  632100
5342  1998-01-06  52.13  52.19  50.50  51.50         13.1586  547600
5343  1998-01-05  54.88  54.88  52.88  53.00         13.5419  611500
5344  1998-01-02  54.81  54.94  53.00  53.88         13.7667  206300

      dividend_amount  split_coefficient  crude_price
5340              0.0                1.0        17.01
5341              0.0                1.0        16.91
5342              0.0                1.0        16.64
5343              0.0                1.0        16.95
5344              0.0                1.0        17.41
_____________________________________________________________________

JAG
_____________________________________________________________________
           date   open   high     low  close  adjusted_close    volume  \
558  2017-02-02  14.75  14.80  14.691  14.70           14.70    873726
559  2017-02-01  14.51  14.80  14.500  14.75           14.75   1095648
560  2017-01-31  14.73  14.73  14.360  14.51           14.51    456555
561  2017-01-30  14.35  14.95  14.250  14.50           14.50   2517374
562  2017-01-27  14.10  14.52  13.830  14.33           14.33  15783498

     dividend_amount  split_coefficient  crude_price
558              0.0                1.0        53.55
559              0.0                1.0        53.90
560              0.0                1.0        52.75
561              0.0                1.0        52.63
562              0.0                1.0        53.18
_____________________________________________________________________

LPI
_____________________________________________________________________
            date   open    high    low  close  adjusted_close   volume  \
1844  2011-12-21  18.62  20.060  18.08  19.83           19.83   103600
1845  2011-12-20  18.33  18.990  18.03  18.95           18.95   222700
1846  2011-12-19  19.00  19.026  18.00  18.25           18.25   172700
1847  2011-12-16  18.09  20.530  17.76  18.80           18.80   595500
1848  2011-12-15  17.25  18.200  17.25  18.10           18.10  6656800

      dividend_amount  split_coefficient  crude_price
1844              0.0                1.0        98.54
1845              0.0                1.0        97.16
1846              0.0                1.0        93.86
1847              0.0                1.0        93.55
1848              0.0                1.0        93.84
_____________________________________________________________________

MDU
_____________________________________________________________________
            date   open   high    low  close  adjusted_close  volume  \
5340  1998-01-08  29.25  29.50  29.25  29.50          4.6608   17452
5341  1998-01-07  29.31  29.50  29.13  29.38          4.6419   36652
5342  1998-01-06  29.75  29.75  29.06  29.50          4.6608   38785
5343  1998-01-05  30.25  30.38  29.75  29.81          4.7098   39378

In [44]:
dict_df["AR"]["close_per_crude"] = dict_df["AR"]["close"]/dict_df["AR"]["crude_price"]

In [60]:
dict_df["SM"].head()

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,crude_price,close_per_crude
0,2019-04-29,16.01,16.290,15.7100,16.12,16.1200,2023413,0.00,1.0,63.39,0.254299
1,2019-04-26,16.23,16.340,15.7000,15.96,15.9600,2289245,0.00,1.0,63.29,0.252173
2,2019-04-25,17.17,17.310,16.4600,16.46,16.4600,2162607,0.05,1.0,65.23,0.252338
3,2019-04-24,18.60,18.695,17.3184,17.35,17.2975,2361062,0.00,1.0,65.96,0.263038
4,2019-04-23,18.59,18.920,18.2600,18.48,18.4240,1698753,0.00,1.0,66.24,0.278986

In [49]:
# Normalize ticker value by dividing by crude price
def normalize_ticker_value(company_df):
    dict_df[company_df]["close_per_crude"] = dict_df[company_df]["close"]/dict_df[company_df]["crude_price"]
    return dict_df

In [50]:
for j in company_list:
    normalize_ticker_value(j)

In [61]:
dict_df['SM'].head()

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,crude_price,close_per_crude
0,2019-04-29,16.01,16.290,15.7100,16.12,16.1200,2023413,0.00,1.0,63.39,0.254299
1,2019-04-26,16.23,16.340,15.7000,15.96,15.9600,2289245,0.00,1.0,63.29,0.252173
2,2019-04-25,17.17,17.310,16.4600,16.46,16.4600,2162607,0.05,1.0,65.23,0.252338
3,2019-04-24,18.60,18.695,17.3184,17.35,17.2975,2361062,0.00,1.0,65.96,0.263038
4,2019-04-23,18.59,18.920,18.2600,18.48,18.4240,1698753,0.00,1.0,66.24,0.278986

In [67]:
dict_df['APA'].insert(0, 'Name', 'abc')

In [68]:
dict_df['APA']

,Name,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,crude_price,close_per_crude
0,abc,2019-04-29,32.93,33.7700,32.8100,33.22,33.2200,2711305,0.00,1.0,63.39,0.524057
1,abc,2019-04-26,33.71,33.9000,32.6900,33.06,33.0600,4654570,0.00,1.0,63.29,0.522357
2,abc,2019-04-25,35.35,35.4700,33.8900,34.06,34.0600,4333524,0.00,1.0,65.23,0.522152
3,abc,2019-04-24,36.67,36.8900,35.4600,35.48,35.4800,2994829,0.00,1.0,65.96,0.537902
4,abc,2019-04-23,37.18,37.3999,36.0950,36.43,36.4300,4767568,0.00,1.0,66.24,0.549970
5,abc,2019-04-22,36.45,37.2000,36.1000,37.09,37.0900,3905097,0.00,1.0,65.66,0.564880
6,abc,2019-04-18,36.70,36.7800,35.5650,35.87,35.8700,3965389,0.25,1.0,64.02,0.560294
7,abc,2019-04-17,36.91,37.0900,36.6250,36.84,36.5850,3302313,0.00,1.0,63.74,0.577973
8,abc,2019-04-16,36.18,36.7300,35.7100,36.56,36.3070,4584972,0.00,1.0,64.01,0.571161
9,abc,2019-04-15,36.40,36.7700,35.9400,35.95,35.7012,3387780,0.00,1.0,63.43,0.566767
10,abc,2019-04-12,37.37,38.1150,36.1800,36.50,36.2474,6469028,0.00,1.0,63.86,0.571563
11,abc,2019-04-11,35.40,35.9700,34.9900,35.64,35.3933,3060518,0.00,1.0,63.61,0.560289
12,abc,2019-04-10,34.97,35.8000,34.7350,35.72,35.4728,3149024,0.00,1.0,64.62,0.552770
13,abc,2019-04-09,35.34,35.5100,34.7850,34.88,34.6386,2700357,0.00,1.0,64.05,0.544575
14,abc,2019-04-08,35.69,36.0500,35.4200,35.56,35.3139,3383485,0.00,1.0,64.37,0.552431
15,abc,2019-04-05,33.68,35.6300,33.6000,35.57,35.3238,5549188,0.00,1.0,63.10,0.563708
16,abc,2019-04-04,33.06,33.4900,31.9800,33.37,33.1390,5901764,0.00,1.0,62.12,0.537186
17,abc,2019-04-03,34.42,34.6500,33.0200,33.06,32.8312,5193639,0.00,1.0,62.46,0.529299
18,abc,2019-04-02,35.00,35.1300,34.2700,34.28,34.0427,2819497,0.00,1.0,62.53,0.548217
19,abc,2019-04-01,35.03,35.1800,34.5900,34.97,34.7280,3325454,0.00,1.0,61.59,0.567787
20,abc,2019-03-29,35.54,35.6700,34.5800,34.66,34.4201,3890872,0.00,1.0,60.19,0.575843
21,abc,2019-03-28,34.74,35.1600,34.6336,35.09,34.8471,3066185,0.00,1.0,59.29,0.591837
22,abc,2019-03-27,35.50,35.8100,34.8600,35.02,34.7776,2613210,0.00,1.0,59.39,0.589662
23,abc,2019-03-26,35.54,36.0800,35.3100,35.66,35.4132,2763498,0.00,1.0,59.87,0.595624
24,abc,2019-03-25,34.77,35.1000,34.2400,34.92,34.6783,3352594,0.00,1.0,58.71,0.594788
25,abc,2019-03-22,35.73,35.8600,34.5300,34.82,34.5790,4100899,0.00,1.0,58.87,0.591473
26,abc,2019-03-21,35.12,36.1750,34.9800,36.08,35.8303,3700595,0.00,1.0,59.98,0.601534
27,abc,2019-03-20,34.36,35.7500,34.3600,35.29,35.0457,4329478,0.00,1.0,60.12,0.586993
28,abc,2019-03-19,35.25,35.4500,34.3300,34.49,34.2513,2768316,0.00,1.0,59.12,0.583390
29,abc,2019-03-18,34.61,35.1200,34.5000,35.01,34.7677,2894019,0.00,1.0,59.09,0.592486
...,...,...,...,...,...,...,...,...,...,...,...,...
5315,abc,1998-02-13,33.63,34.3100,33.3800,34.19,11.7236,497300,0.00,1.0,16.03,2.132876
5316,abc,1998-02-12,34.25,34.8800,33.5600,33.75,11.5727,873200,0.00,1.0,15.97,2.113338
5317,abc,1998-02-11,35.19,35.3800,34.3800,34.38,11.7887,662200,0.00,1.0,16.17,2.126160
5318,abc,1998-02-10,34.81,35.6300,34.7500,35.38,12.1316,717900,0.00,1.0,16.48,2.146845
5319,abc,1998-02-09,35.06,35.1300,34.5600,34.94,11.9807,395300,0.00,1.0,16.59,2.106088
5320,abc,1998-02-06,34.13,35.3100,34.1300,35.00,12.0013,1340200,0.00,1.0,16.72,2.093301
5321,abc,1998-02-05,33.63,34.2500,33.1900,34.13,11.7030,905700,0.00,1.0,16.63,2.052315
5322,abc,1998-02-04,33.13,33.8800,33.1300,33.50,11.4870,795200,0.00,1.0,16.42,2.040195
5323,abc,1998-02-03,33.38,33.5000,32.7500,32.94,11.2950,473800,0.00,1.0,16.43,2.004869
5324,abc,1998-02-02,33.88,33.8800,33.3100,33.56,11.5075,382600,0.00,1.0,17.07,1.966022
5325,abc,1998-01-30,34.63,34.6300,33.0000,33.13,11.3601,1175900,0.00,1.0,17.21,1.925044
5326,abc,1998-01-29,34.63,35.9400,34.5000,34.63,11.8744,796200,0.00,1.0,17.93,1.931400
5327,abc,1998-01-28,32.88,34.1300,32.8100,34.06,11.6790,684700,0.00,1.0,17.35,1.963112
5328,abc,1998-01-27,33.00,33.7500,32.7500,32.75,11.2298,716200,0.00,1.0,17.06,1.919695
5329,abc,1998-01-26,33.75,33.8800,33.1300,33.50,11.4870,400500,0.00,1.0,16.96,1.975236
5330,abc,1998-01-23,33.50,33.5000,32.8800,33.25,11.4013,1092100,0.00,1.0,15.65,2.124601
5331,abc,1998-01-22,34.50,34.5000,33.0000,33.00,11.3155,955900,0.00,1.0,15.93,2.071563
5332,abc,1998-01-21,36.19,36.2500,34.7500,35.06,12.0219,621900,0.00,1.0,16.05,2.184424
5333,abc,1998-01-20,35.13,36.3800,34.8100,36.31,12.4505,1068300,0.00,1.0,16.43,2.209982
5334,abc,1998-01-16,33.00,35.2500,32.9400,35.00,12.0013,1126800,0.00,1.0,16.48,2.123786
5335,abc,1998-01-15,32.63,33.1300,32.5000,32.50,11.1441,826500,0.00,1.0,16.35,1.987768
5336,abc,1998-01-14,32.13,32.9400,31.6900,32.56,11.1647,1102000,0.00,1.0,16.54,1.968561
5337,abc,1998-01-13,32.00,32.6300,31.7500,31.88,10.9315,932400,0.00,1.0,16.44,1.939173
5338,abc,1998-01-12,31.25,31.8800,31.1900,31.63,10.8458,834000,0.00,1.0,16.53,1.913491
5339,abc,1998-01-09,31.94,31.9400,31.3800,31.44,10.7806,891200,0.00,1.0,16.65,1.888288
5340,abc,1998-01-08,32.00,32.2500,31.7500,32.00,10.9726,838800,0.00,1.0,17.01,1.881246
5341,abc,1998-01-07,32.88,33.2500,31.8800,32.19,11.0378,857200,0.00,1.0,16.91,1.903607
5342,abc,1998-01-06,32.63,33.0000,32.2500,32.50,11.1441,1498900,0.00,1.0,16.64,1.953125
5343,abc,1998-01-05,34.56,34.5600,33.0600,33.13,11.3601,837600,0.00,1.0,16.95,1.954572
5344,abc,1998-01-02,35.19,35.1900,34.0600,34.06,11.6790,310400,0.00,1.0,17.41,1.956347