In [6]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import re

In [7]:
midcap = "http://investsnips.com/list-of-publicly-traded-mid-cap-oil-gas-exploration-and-production-companies/"
largecap = "http://investsnips.com/list-of-publicly-traded-large-cap-oil-gas-exploration-and-production-companies/"

In [8]:
def midcap_ls(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    midcap_html = soup.find(class_="et_pb_text_inner").find_all('a')
    company_list = []
    for text in midcap_html:
        company = text.get_text()
        if re.findall("Mid-Cap+", company):
            company_list = []        
            continue        
        company_list.append(company)    
        if re.findall("WPX+", company):
            break
    return company_list

In [9]:
def largecap_ls(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    largecap_html = soup.find(class_="et_pb_text_inner").find_all('a')
    company_list = []
    for text in largecap_html:
        company = text.get_text()
        if re.findall("Oil and+", company):
            company_list = []        
            continue        
        company_list.append(company)    
        if re.findall("Pioneer+", company):
            break
    return company_list

In [10]:
all_companies = midcap_ls(midcap) + (largecap_ls(largecap))

In [11]:
all_companies

['Antero Resources Corporation (AR)',
 'Callon Petroleum Company (CPE)',
 'Centennial Resource Development, Inc. (CDEV)',
 'Chesapeake Energy Corporation (CHK)',
 'Diamondback Energy, Inc. (FANG)',
 'Energen Corporation (EGN)',
 'EQT Corporation (EQT)',
 'Extraction Oil & Gas, Inc. (XOG)',
 'Gulfport Energy Corporation (GPOR)',
 'Jagged Peak Energy Inc. (JAG)',
 'Laredo Petroleum, Inc. (LPI)',
 'Matador Resources Company (MTDR)',
 'MDU Resources Group, Inc. (MDU)',
 'Murphy Oil Corporation (MUR)',
 'Newfield Exploration Company (NFX)',
 'Oasis Petroleum Inc. (OAS)',
 'Parsley Energy, Inc. (PE)',
 'PDC Energy, Inc. (PDCE)',
 'Range Resources Corporation (RRC)',
 'Rice Energy Inc. (RICE)',
 'RSP Permian, Inc. (RSPP)',
 'SM Energy Company (SM)',
 'Southwestern Energy Company (SWN)',
 'Whiting Petroleum Corporation (WLL)',
 'WPX Energy, Inc. (WPX)',
 'Anadarko Petroleum Corporation (APC)',
 'Apache Corporation (APA)',
 'Cabot Oil & Gas Corporation (COG)',
 'Canadian Natural Resources Limited (CNQ)',
 'Cimarex Energy Co. (XEC)',
 'CNOOC Limited (CEO)',
 'Concho Resources Inc. (CXO)',
 'ConocoPhillips (COP)',
 'Continental Resources, Inc. (CLR)',
 'Devon Energy Corporation (DVN)',
 'Encana Corporation (ECA)',
 'EOG Resources, Inc. (EOG)',
 'Hess Corporation (HES)',
 'Marathon Oil Corporation (MRO)',
 'Noble Energy Inc. (NBL)',
 'Occidental Petroleum Corporation (OXY)',
 'Pioneer Natural Resources Company (PXD)']

In [12]:
def ticker_name(company_list):
    ticker_ls = []
    for company in company_list:
        start = company.find("(") + 1
        end = company.find(")")
        ticker_ls.append(company[start:end])
    return ticker_ls

In [13]:
ticker_list = ticker_name(all_companies)

# nEW fILE

In [15]:
import pandas as pd
import time
import quandl
quandl.ApiConfig.api_key = "VDT3_1W-5_X47sL4YjsC"

In [45]:
quandl.ApiConfig.verify_ssl = False

In [46]:
crude_price = quandl.get('EIA/PET_RWTC_D')

C:\Users\nicho\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [47]:
crude_price

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
1986-01-09  26.03
1986-01-10  25.65
1986-01-13  25.08
1986-01-14  24.97
1986-01-15  25.18
1986-01-16  23.98
1986-01-17  23.63
1986-01-20  21.33
1986-01-21  20.61
1986-01-22  20.25
1986-01-23  19.93
1986-01-24  19.45
1986-01-27  20.87
1986-01-28  19.45
1986-01-29  19.61
1986-01-30  19.58
1986-01-31  18.95
1986-02-03  17.42
1986-02-04  15.58
1986-02-05  16.28
1986-02-06  16.60
1986-02-07  17.70
1986-02-10  16.78
1986-02-11  16.28
1986-02-12  15.74
...           ...
2019-03-18  59.09
2019-03-19  59.12
2019-03-20  60.12
2019-03-21  59.98
2019-03-22  58.87
2019-03-25  58.71
2019-03-26  59.87
2019-03-27  59.39
2019-03-28  59.29
2019-03-29  60.19
2019-04-01  61.59
2019-04-02  62.53
2019-04-03  62.46
2019-04-04  62.12
2019-04-05  63.10
2019-04-08  64.37
2019-04-09  64.05
2019-04-10  64.62
2019-04-11  63.61
2019-04-12  63.86
2019-04-15  63.43
2019-04-16  64.01
2019-04-17  63.74
2019-04-18  64.02
2019-04-22  65.66
2019-04-23  66.24
2019-04-24  65.96
2019-04-25  65.23
2019-04-26  63.29
2019-04-29  63.39

[8414 rows x 1 columns]

In [27]:
name = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=EGN&apikey=SDHV4SJYBI6HKVBB"

In [28]:
response = requests.get(name)

In [53]:
a = response.json()
aa = a.keys()
next(iter(a)) == "Error Message"

True

In [21]:
pd.DataFrame(response.json()['Time Series (Daily)']).\
    transpose().\
    reset_index()

KeyError: 'Time Series (Daily)'

In [136]:
a = pd.DataFrame(a['Time Series (Daily)']).transpose().reset_index().rename(columns={"index":"date", "1. open":"open",
                                                                                    "2. high":"high", "3. low":"low",
                                                                                    "4. close": "close", 
                                                                                    "5. adjusted close":"adjusted_close",
                                                                                    "6. volume":"volume",
                                                                                    "7. dividend amount": "dividend_amount",
                                                                                    "8. split coefficient":"split_coefficient"})
a
#b = a['Meta Data']
#pd.DataFrame(b)
#pd.DataFrame(a)
#pd.read_json(a)

KeyError: 'Time Series (Daily)'

In [145]:
path = "../data/"
for tick in ticker_list:
    full_path = path + tick

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [66]:
url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={}&out&apikey=M6CVJBHPCYXYSTQS"

In [ ]:
url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={}&out&apikey=BGZ66XLUGR27TO4M"
path = "../data/"
counter = 1
for tick in ticker_list:
    url_ticker = url.format(tick)
    response = requests.get(url_ticker)
    if response.status_code == 200:
        print("staging")
        ticker_json = response.json()
        if next(iter(ticker_json)) == "Error Message":
            pass
        else:
            print("good to go")
            ticker_df = pd.DataFrame(ticker_json['Time Series (Daily)']).\
                                transpose().\
                                reset_index().\
                                rename(columns={"index":"date", "1. open":"open", "2. high":"high", "3. low":"low",
                                                "4. close": "close", "5. adjusted close":"adjusted_close",
                                                "6. volume":"volume", "7. dividend amount": "dividend_amount", 
                                                "8. split coefficient":"split_coefficient"})
            full_path = path + tick +".csv"
            ticker_df.to_csv(full_path)
            counter+=1
            if counter%5 == 1:
                time.sleep(70) # seconds

staging
good to go
staging
good to go
staging
good to go
staging
good to go
staging
good to go

In [14]:
i = 1
for tick in ticker_list:
    i+=1
    print(i)
    if i == 5:
        break

5
5
5
5

In [ ]:
import time
time.sleep(400) # seconds

In [17]:
ticker_list

['AR',
 'CPE',
 'CDEV',
 'CHK',
 'FANG',
 'EGN',
 'EQT',
 'XOG',
 'GPOR',
 'JAG',
 'LPI',
 'MTDR',
 'MDU',
 'MUR',
 'NFX',
 'OAS',
 'PE',
 'PDCE',
 'RRC',
 'RICE',
 'RSPP',
 'SM',
 'SWN',
 'WLL',
 'WPX',
 'APC',
 'APA',
 'COG',
 'CNQ',
 'XEC',
 'CEO',
 'CXO',
 'COP',
 'CLR',
 'DVN',
 'ECA',
 'EOG',
 'HES',
 'MRO',
 'NBL',
 'OXY',
 'PXD']